* {
  margin: 0;
  padding: 0;
}

body {
  --accent-color: #156fe5;
  --background-color: #ffffff;
  --text-color: #303030;
  --text-color-button: var(--background-color);
  --transition-delay: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --accent-color: #d0d066;
  --background-color: #303030;
  --text-color: #ffffff;
}

.title {
  margin-bottom: 1rem;
}

.toggle-button {
  background-color: var(--accent-color);
  color: var(--text-color-button);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);
}

.toggle-button .icon {
  margin-right: 0.5em;
}

.toggle-button:hover,
.toggle-button:focus {
  transform: scale(1.1);
}

.theme-container {
  --rotation: 0;

  position: absolute;
  top: 0;
  height: 200vmin;
  transform: rotate(var(--rotation));
}

.sun,
.moon {
  position: ablsolute;
}

.sun {
  top: 5%;
}

.moon {
  bottom: 5%;
}
